<link rel="stylesheet" type="text/css" href="/css/style.css" />

<h1>Roomm8</h1>

<div id="nav">
  <!-- <input type="text" id="key" size="40" placeholder="Face!"/> -->
  <p><a href="/loginAdmin">Login</a></p>

  <div id='friends' > 
	  <% roomates.forEach(function(roomate) { %>
	    <li> <%= roomate.name %> </li>
	  <% }); %>
  </div>

</div>

<script src="/js/jquery.js"></script>
<script src="/js/indexPage.js"></script>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1766931530285001',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1766931530285001";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-send" data-href="https://developers.facebook.com/docs/plugins/"></div>




<script>      
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '95100348886',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));      
</script>

<div class="fb-messengermessageus" 
     messenger_app_id="95100348886" 
     page_id="1766931530285001" 
     color="blue"
     size="large">
</div>